/* NAVBAR */

.navbar-light .navbar-toggler {
    border: none;
}

/* COVER */

body, html {
    height: 100%;
}
  
.parallax {
    top: 0;
    background-image: url("www.bodanuriaclaudia.com/fotos/5.jpg");
    height: 100%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.mt-6 {
    margin-top: 5rem!important;
}