/* NAVBAR */

.navbar-light .navbar-toggler {
    border: none;
}

/* COVER */

body, html {
    height: 100%;
  }

.parallax {
    top: 0;
    background-image: url("https://www.w3schools.com/bootstrap4/paris.jpg");
    height: 100%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}